body {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.main-img {
  max-width: 90%;
  max-height: 100%;
  margin: calc(100%-20px);
  padding: 0px 20px 20px;
}

img.diagram {
    max-width: 900px;
    margin-left: 130px;
    float: left;
}

a {
	text-decoration: none;
    color: #3E8C6D;
}

.clear {
	clear: both;
}

#back-to-top{
    position: fixed;
    right: 30px;
    bottom: 65px;
    padding: 20px;
    background-color: #fff;
    border: 0.50px solid lightgray;
    z-index: 20;
    letter-spacing: 2px;
	text-transform: uppercase;
	display: none;


}


/* slides */
.inner{
    /*outline: 1px solid #333;*/
    float: left;
    /*width: 100%;*/
    width: 50%;

}

.caption-text {
	/*color: #333;*/
    color: #395967;
	font-family: 'Playfair Display', serif;
	font-size: 32px;
    opacity: 0;
    -webkit-animation: visible 3s linear forwards;
    animation: visible 3s linear forwards;
    -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 2s;
}

.body-text, .subcaption-text {
    font-size: 14px;
    margin: 20px 30px 25px 20px;

}

.title-text {
	float: left;
    text-align: left;
	font-size: 50px;
	margin: 0px  0px 10px 125px;
	/*color: #385967;*/
    color: #395967;
    font-family: 'Playfair Display', serif;
	/*text-shadow: 5px 5px 5px rgba(150, 150, 150, 0.5);*/
}

.content-text {
    text-align: center;
	font-size: 25px;
    color: #395967;
    font-family: 'Playfair Display', serif;
}

.container {
    margin: 20px 5px;
    padding: 10px;
    float: left;
    width: calc(100% / 6);
    /*border: 0.5px solid #9cacb3;*/
}

.container img {

    opacity: .70;
    width: 100%;
    margin: 20px auto;
}

p {
    margin-top: 0px;
    font-size: 12px;
}

.title-text-web {
	float: left;
    text-align: left;
	font-size: 50px;
	margin: 20px;
	/*color: #385967;*/
    color: #395967;
    font-family: 'Playfair Display', serif;
	/*text-shadow: 5px 5px 5px rgba(150, 150, 150, 0.5);*/
}



.subtitle-text {
    font-family: 'Fauna One', serif;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0px 50px 125px;
    color: #748a94;
    text-align: left;
    /*text-align: justify;
    /*text-justify: inter-word;*/
}

.body-text {
    font-family: 'Fauna One', serif;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 75px 5px 15px;
    text-align: left;
    color: #748a94;

}


.paragraph-text {
    font-family: 'Fauna One', serif;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 125px 50px 125px;
    text-align: left;
    color: #748a94;

}

.summary-text {
    margin: 50px
}

.paragraph-text-head {
    font-family: 'Fauna One', serif;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #748a94;

}

.paragraph-texta {
    font-family: 'Fauna One', serif;
    color: #748a94;

}

.header-text {
    float: left;
    text-align: left;
	  font-size: 30px;
	  margin: 20px 200px 5px 125px;
	  /*color: #385967;*/
    color: #395967;
    font-family: 'Playfair Display', serif;
}

.web-text {
    text-align: left;
	  font-size: 30px;
    padding: 20px;
    color: #395967;
    font-family: 'Playfair Display', serif;
}

.web-contain {
  padding: 25px 0;
  border: 0.1px solid #eee;
  margin: 35px 10px;
  border-radius: 5px;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/

}


.highlight {
    font-weight: 900;
    color: #395967;
}

.big-button {
    text-align: left;
}

.big-button a {
        position: relative;
        border: 0.5px solid #9cacb3;
        /*border-radius: 5px;*/
		padding: 5px 50px;
        margin: 100px 20px 10px 125px;
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
	    letter-spacing: 2px;
		color: #395967;

	};

a.big-button:hover{
    text-shadow: 2px 2px lightgray;
    opacity: 0.5;
    color: red;
}

.button {
    /*position: relative;*/
    margin: 0px 20px 10px 0px;
    /*left: -100px;*/
}

.icon {
	width: 30px;
	padding: 10px;
	opacity: 0.75;
}

.icon:hover {
	opacity: 0.1;
}

.arrow {
	width: 30px;
	padding: 10px;
    -webkit-animation: visible 5s infinite;
    animation: visible 5s infinite;
}

.cat {
    position: relative;
    width: 350px;
    letter-spacing: 2px;
    color: #395967;
    padding: 5px 5px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;


}

.cat-container {
    display: inline-block;
    text-align: center;
    width: 80%
}

.square {
    position: absolute;
	width: 200px;
	padding: 10px;
    top: 37%;
    left: 20px;
    opacity: 0.2;

}

.circle {
    position: absolute;
	width: 200px;
	padding: 10px;
    right: 20px; top: 37%;
    opacity: 0.2;
}

.movin-text {
    position: relative;
    color: #395967;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    top: -130px;
    opacity: 0;
    -webkit-animation: invisible 4s 1;
    animation: invisible 4s 1;
}


#footer-items-container {
	position: relative;
	bottom: 0px;

}

.footer-items {
	margin: 50px 25px;
	display: inline-block;
	padding: 20px;
	border: 1px solid lightgray;
	letter-spacing: 2px;
	text-transform: uppercase;
	top: -15px;
}

a.footer-items:hover {
	color: #3E8C6D;
	font-weight: 700px;
	border-bottom: 2px solid #3E8C6D;
	-webkit-box-shadow:0 4px 2px -2px #E0E0E0;
	-moz-box-shadow: 0 4px 2px -2px #E0E0E0;
	box-shadow: 0 4px 2px -2px #E0E0E0;
}

.l-footer a{
	position: relative;
	float: left;
	left: 100px;


}

.r-footer a{
	position: relative;
	float: right;
	right: 100px;
}

.tag-container {
    margin: 50px 2px 25px 125px;
    float: left;
    opacity: 0.5;

}

.tag {
	position: relative;
	border: 0.5px solid #91a2aa;
	padding: 5px;
	margin: 0px 2px 10px 0px;
	display: inline-block;
	/*-webkit-box-shadow: 5px 5px 5px 0px rgba(224,224,224,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(224,224,224,1);
	box-shadow: 1px 2px 5px 0px rgba(224,224,224,1);*/
	text-align: center;
	font-style: italic;
	color: #748a94;
    /*float: left*/

}

.drop {
    -webkit-box-shadow:0 4px 2px -2px #E0E0E0;
    -moz-box-shadow: 0 4px 2px -2px #E0E0E0;
    box-shadow: 0 2px 4px 1px #E0E0E0;
}
/*#section2 {
    text-align: center;
    background:
    linear-gradient(
        rgba(255,255,255, 0.2),
        rgba(255,255,255, 0.1)),
    url('../img/testbg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 900;
}*/

.section {
        text-align: center;
        background-color: #ecf0f3;

}

#section0 {
        text-align: center;
        background-color: #E1ECF4;
}
#section1 {
        text-align: center;
        background-color: white;
}

#section1a {
        background-color: #ecf0f3;
}

#section1b {
        background-color: #f7f3f4;
}

/*#section5 {
        background-color: #ecf0f3;
}
#section4 {
        background-color: #ecf0f3;
}

#section6 {
        background-color: #ecf0f3;
}*/


.content {
    background-color: white;
    left: 50px;
    top: 100px;
    width: calc(100% - 50px);
    position: relative;
    text-align: center;

}


.navbar-default {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .75em;
    color: #395967;
}

/* for lightbox */
#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
    /*background: white;*/
	top: 0px;
	left: 0px;
	z-index: 20;
}

.pic-click {
	position: fixed;
    float:left;
	z-index: 21;
	max-width: 90% !important ;
    max-height: 90% !important ;
	top: 10%;
	right: 5%;

}


.bobbing {

    animation: bobbingAnim ease-in-out .5s infinite;
    -moz-animation: bobbingAnim ease-in-out .5s infinite;
    -webkit-animation: bobbingAnim ease-in-out .5s infinite;
}

.movetxt {
    -webkit-animation: moving 2s linear forwards;
    animation: moving 2s linear forwards;
}

.re-movetxt {
    -webkit-animation: removing 2s linear forwards;
    animation: removing 2s linear forwards;
}

@keyframes bobbingAnim {
   50% {
       transform: translate(0, 12px) translateZ(0);
   }
}

@-webkit-keyframes bobbingAnim {
   50% {
       -webkit-transform: translate3d(0, 12px, 0);
   }
}

@-moz-keyframes bobbingAnim {
   50% {
       -moz-transform: translate3d(0, 12px, 0);
   }
}


@keyframes moving {
    from {transform: translate(20px, 0px);}
    to {transform: translate(520px, -40px);}

    0%   { opacity: 1; }
    100% { opacity: 0.1;}
}

@keyframes removing {
    from {transform: translate(-20px, 0px);}
    to {transform: translate(-520px, 50px);}
    0%   { opacity: 1; }
    100% { opacity: 0.1;}
}

@keyframes invisible {
    0%   { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes visible {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

/* media queries */

@media (max-width:640px) and (orientation: portrait){

    .content {
        left: 5px;
        width: calc(100% - 2.5px);

    }
    .inner{
        width: 100%;
    }
    .title-text, .header-text {
        font-size: 24px;
        margin: 20px 20px 0px 20px;
    }

    .web-text {
        font-size: 24px;
    }

    .subtitle-text, .big-button a {
        font-size: 14px;
        margin: 20px 20px 25px 20px;

    }

    .body-text, .paragraph-text {
        font-size: 14px;
        margin: 20px 20px 25px 20px;
        text-align: justify;
    }

    .caption-text {
        font-size: 24px;
        margin: 20px 20px 0px 20px;
    }

    .button a{
        font-size: 10px;
        padding: 5px;
    }



    img {
        padding: 5px;
    }

    img.diagram {
        max-height: 50%;
        max-width: 80%;
        margin: 20px 20px 25px 20px;
    }

    img.cont-img {
        max-width: 60%;
        margin-left: 25px;
    }

    .tag-container {
        margin: 50px 2px 25px 10px;
        float: left;
        opacity: 0.5;
    }

    .footer-items {

    	padding: 10px;
        font-size: 12px;
    }

    .r-footer a {
    right: 5px;
    }

    .container {
        width: 100%
    }

    .summary-text {
        margin: 0 5px
    }


    @keyframes moving {
        from {transform: translate(-200px, 0px);}
        to {transform: translate(10px, -70px);}

        0%   { opacity: 1; }
        100% { opacity: 0.1;}
    }

    @keyframes removing {
        from {transform: translate(200px, 0px);}
        to {transform: translate(-10px, 30px);}
        0%   { opacity: 1; }
        100% { opacity: 0.1;}
    }
}

.fa.fa-users {
    font-size: 100px;
    margin: 25px;
}
